/*Elements principaux de la page*/

body
{
	width: 100%;
	margin: auto;
	background-color: #fafafa;
}

#blockPage
{
	width: 960px;
	height: 80vh;
	margin: auto;
	background-color: #fff;
	box-shadow: 0px 0px 10px lightgrey;

}

*
{
	font-family: 'Nunito', sans-serif;
	color:rgba(0, 0, 0, 0.8);

}

h1, h2
{
	text-transform: uppercase;
	text-align: center;
	padding: 10px;

}

p
{
	padding: 10px;
}